.DS_Store
OpenCV Cash Labeling/cash-project/
PyTorch Cash Classification/pytorchenv/
PyTorch Cash Classification/cash/
OpenCV Cash Labeling/dataset/
OpenCV Cash Labeling/experiment frames/
OpenCV Cash Labeling/experiment/
OpenCV Cash Labeling/testing/
OpenCV Cash Labeling/.vscode/