.DS_Store
.pylintrc
.mypy_cache/

opencvenv/

PyTorch Cash Classification/pytorchenv/
PyTorch Cash Classification/cash/

OpenCV Cash Labeling/cash-project/
OpenCV Cash Labeling/dataset/
OpenCV Cash Labeling/experiment frames/
OpenCV Cash Labeling/experiment/
OpenCV Cash Labeling/testing/
OpenCV Cash Labeling/.vscode/

Generate Random Images/RM50/
Generate Random Images/background/
Generate Random Images/final_data/
Generate Random Images/test/
Generate Random Images/data/
Generate Random Images/images/
Generate Random Images/.idea/
Generate Random Images/generate_data/
Generate Random Images/test_background/
Generate Random Images/test_images/

Archived\ Scripts/


Image Generator/archive/
Image Generator/images/
Image Generator/output/
Image Generator/png/

Polygon Generator/data/